<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drizzle.drizzledaily">

    <!--微信APPID:wx370c315141dbd99b-->
    <!--AppSecret：8dfea2ca12b74b351ef75eb4bfb316a5-->



    <!-- fir.fm API TOKEN -->
    <!-- 0907463c4425f95f233aa8ed32d7880f -->


    <!-- General Key -->
    <!-- General key: 73e619a25cafd56c1119b8800ddc7697 -->


    <!-- Bmob appid -->
    <!-- 7674bc5c8d85e763b58e487eab5627a5 -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".model.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/labal_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainBlackAppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".ui.activities.GildeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.PhotoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activities.ThemeListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activities.SectionListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activities.ReadActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activities.SectionReadActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:screenOrientation="portrait"
          ></activity>

        <activity
            android:name=".ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainBlackAppTheme">

        </activity>
        <activity
            android:name=".ui.UserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainBlackAppTheme">

        </activity>
        <activity
            android:name=".ui.LogininActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainBlackAppTheme">

        </activity>
        <activity
            android:name=".ui.activities.BaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainBlackAppTheme">

        </activity>
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainBlackAppTheme"></activity>

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="73e619a25cafd56c1119b8800ddc7697" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

    </application>

</manifest>
